{% extends 'layout.html' %}



{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/grid.css') }}">
{% endblock %}


{% block body %}

<body class="text-center bg-light">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">


        <main role="main" class="inner cover">
            <h2> Olá {{session.name}}! </h2>
            <p class="lead">Página de Administração de Equipamentos</p>
        </main>

        {% if "equiptype" not in request.form or request.form["equiptype"]== "Mostrar Todos" or request.form["equiptype"]== "Equipamento..."  %}
        <p class="lead"></p>
        {% else %}
        <p class="lead">Mostrando todos os items do tipo {{request.form["equiptype"]}}.</p>
        {% endif %}

        <div>
            <div class="mb-3" style="float:left; width:33%">
                <label for="equips">Procurar por Tipo de Equipamento</label>
                <form id="contact-form" role="form" method="post">
                    <div class="mb-3 parent">
                        <div class="mb-3" style="display: inline-block">

                            <select name="equiptype" class="custom-select d-block w-100" id="equiptype"
                                value={{request.form.equiptype}} required>
                                <option hidden>Equipamento...</option>
                                <option>Mostrar Todos</option>
                                <option>Computador Desktop</option>
                                <option>Computador Notebook</option>
                                <option>Monitor</option>
                                <option>Teclado</option>
                                <option>Mouse</option>
                                <option>Câmera</option>
                                <option>Microfone</option>
                                <option>Fone</option>
                            </select>

                        </div>
                        <div style="display: inline-block">
                            <button class="btn btn-secondary" type="submit">Procurar</button>
                        </div>
                    </div>


                </form>
            </div>

            <div class="mb-3" style="float:left; width:33%">
                <a href="/admin/transaction" class="btn btn-lg btn-success"> Administrar Transações</a>
            </div>

            <div class="mb-3" style="float:left; width:33%">
                <label for="visibilits">Procurar por Visibilidade</label>
                <form id="contact-form" role="form" method="post">
                    <div class="mb-3 parent">
                        <div class="mb-3" style="display: inline-block">

                            <select name="visibility" class="custom-select d-block w-100" id="visibility"
                                value={{request.form.visibility}} required>
                                <option hidden>Mostrar Todos</option>
                                <option>Visiveis</option>
                                <option>Invisiveis</option>
                            </select>

                        </div>
                        <div style="display: inline-block">
                            <button class="btn btn-secondary" type="submit">Procurar</button>
                        </div>
                    </div>


                </form>
            </div>

        </div>



        {% for d in data %}
        <div class="row">
            <div class="col-md-8">
                {{d["marca"]}}
                <div class="row">
                    <div class="col-md-6">{{d["type"]}}</div>
                    <div class="col-md-6">{{"Visibilidade aos Usuários: "~d["visible"]}}</div>
                </div>
            </div>
            <div class="col-md-4">{{d["description"]}}</div>
        </div>
        <div>
            <div class="mb-3" style="float:left; width:50%">
                <form action="{{ url_for('admin_api.toggle_visible', equipid = d['equipid'], visible= d['visible'])}}"
                    method=post>
                    <input class="btn btn-lg btn-secondary" type="submit" value=" Trocar Visibilidade">
                </form>
            </div>
            <div class="mb-3" style="float:left; width:50%">
                <form action="{{ url_for('admin_api.delete_equip', equipid = d['equipid'])}}" method=post>
                    <input class="btn btn-lg btn-danger" type="submit" value="Remover Equipamento">
                </form>
            </div>
        </div>


        <hr class="mb-4">
        {% endfor %}


    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
</body>
{%endblock %}