{% extends 'layout.html' %}



{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/grid.css') }}">
{% endblock %}


{% block body %}

<body class="text-center bg-light">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">


        <main role="main" class="inner cover">
            <h2> Olá {{session.name}}! </h2>
            <p class="lead">Página de Administração de Equipamentos</p>
            <p class="lead">



            </p>
        </main>



        <div class="row">
            <div class="col-md-8">
                Marca do Equipamento
                <div class="row">
                    <div class="col-md-6">Tipo</div>
                    <div class="col-md-6">Visivel</div>
                </div>
            </div>
            <div class="col-md-4">Descrição do Equipamento</div>
        </div>

        <hr class="mb-4">


    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
</body>
{%endblock %}