{% extends 'layout.html' %}






{% block body %}

<body class="text-center bg-light">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">


        <main role="main" class="inner cover">
            <h2> Bem-Vindo {{session.name}}! </h2>
            <p class="lead">Ajude doando um equipamento eletrônico ou solicite um caso necessite.</p>
            <p class="lead">

                <a href="/doar" class="btn btn-lg btn-primary"> Doar </a>
                <a href="/procuraritems" class="btn btn-lg btn-secondary"> Solicitar</a>
                {% if session.role == "admin" %}
                <a href="/admin" class="btn btn-lg btn-dark"> Opções de Administrador</a>
                {% endif %}


            </p>
        </main>


    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src=" https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
</body>
{%endblock %}