{% extends 'layout.html' %}



{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/grid.css') }}">
{% endblock %}

{% block body %}

<body class="text-center bg-light">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">

        <h2> Selecione os Equipamentos para sua Lista de Desejos! </h2>
        {% if request.form["equiptype"]== "Mostrar Todos" or request.form["equiptype"]== "Equipamento..."  %}
        <p class="lead">Administradores terão a informação de que você adicionou esses items.</p>
        {% else %}
        <p class="lead">Mostrando todos os items do tipo {{request.form["equiptype"]}}.</p>
        {% endif %}

        <label for="equips">Procurar por Tipo de Equipamento</label>




        <form id="contact-form" role="form" method="post">
            <div class="mb-3 parent">
                <div class="mb-3" style="display: inline-block">
                    <select name="equiptype" class="custom-select d-block w-100" id="equiptype"
                        value={{request.form.type}} required>
                        <option hidden>Equipamento...</option>
                        <option>Mostrar Todos</option>
                        <option>Computador Desktop</option>
                        <option>Computador Notebook</option>
                        <option>Monitor</option>
                        <option>Teclado</option>
                        <option>Mouse</option>
                        <option>Câmera</option>
                        <option>Microfone</option>
                        <option>Fone</option>
                    </select>

                </div>
                <div style="display: inline-block">
                    <button class="btn btn-secondary" type="submit">Procurar</button>
                </div>
            </div>


        </form>



        {% for d in data %}
        <div class="row">
            <div class="col-md-4">{{d["marca"]}}</div>
            <div class="col-md-4">{{d["type"]}}</div>
            <div class="col-md-4">{{d["description"]}}</div>
        </div>

        <form action="{{ url_for('add_to_wishlist', equipid = d['equipid'])}}" method=post>
            <input class="btn btn-lg btn-secondary" type=submit value=" Adicionar a Sua Lista de Desejos">
        </form>

        <hr class="mb-2">
        {% endfor %}






    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src=" https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
</body>
{%endblock %}