{% extends 'layout.html' %}



{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/grid.css') }}">
{% endblock %}

{% block body %}

<body class="text-center bg-light">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">

        <h3> Equipamento {{data["type"]}} - {{data["marca"]}}</h3>
        <p class="lead"> Selecione um Donatário que desejou esse equipamente para recebê-lo.</p>


        {% for u in users %}
        <div class="row">
            <div class="col-md-4">{{"Nome: "+u["name"]}}</div>
            <div class="col-md-4">{{"CPF: "+u["cpf"]}}</div>
            <div class="col-md-4">{{"Email: " +u["email"]}}</div>


        </div>

        <form
            action="{{ url_for('admin_api.do_transaction', wisherid=u['id'],donorid=data['donorid'],equipid=data['equipid'])}}"
            method=post>
            <input class="btn btn-lg btn-success" type="submit" value=" Realizar Transação">
        </form>
        <hr class="mb-2">

        {% endfor %}





    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src=" https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
</body>
{%endblock %}