{% extends 'layout.html' %}



{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/grid.css') }}">
{% endblock %}

{% block body %}

<body class="text-center bg-light">

    <div class="container d-flex h-150 p-3 mx-auto flex-column">
        {% if not (donated+received) %}
        <h2> Você não tem nenhuma transação completa.</h2>
        {% endif %}



        <hr class="mb-2">

        {% if received %}
        <h2> Suas doações recebidas como donatário: </h2>
        {% endif %}

        <hr class="mb-1">
        {% for d in received%}
        <div class="row">
            <div class="col-md-4">{{ "Equipamento: " +  d["marca"] + ", " + d["type"] + ", " +d["description"] }}
            </div>
            <div class="col-md-4">
                {{ "Donatário: " +  d["wishername"] + ", " + d["wishercpf"] + ", " +d["wisheremail"] }}</div>

            <div class="col-md-4">{{ "Doador: " +  d["donorname"] + ", " + d["donorcpf"] + ", " +d["donoremail"] }}
            </div>
        </div>

        <form action=" {{ url_for('transactions_api.get_titulo')}}" method=post>
            <input class="btn btn-lg btn-secondary" type="submit" value="Obter Título">
        </form>
        <hr class="mb-1">

        {% endfor %}


    </div>
    <div class="container d-flex h-150 p-3 mx-auto flex-column">

        {% if donated %}
        <h2> Suas doações entregues como doador: </h2>
        {% endif %}

        <hr class="mb-1">
        {% for d in donated%}
        <div class="row">
            <div class="col-md-4">{{ "Equipamento: " +  d["marca"] + ", " + d["type"] + ", " +d["description"] }}
            </div>
            <div class="col-md-4">
                {{ "Donatário: " +  d["wishername"] + ", " + d["wishercpf"] + ", " +d["wisheremail"] }}</div>

            <div class="col-md-4">{{ "Doador: " +  d["donorname"] + ", " + d["donorcpf"] + ", " +d["donoremail"] }}
            </div>



        </div>

        <form action=" {{ url_for('transactions_api.get_titulo')}}" method=post>
            <input class="btn btn-lg btn-secondary" type="submit" value="Obter Título">
        </form>
        <hr class="mb-1">


        {% endfor %}



        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src=" https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
        <script src="../../assets/js/vendor/popper.min.js"></script>
        <script src="../../dist/js/bootstrap.min.js"></script>
</body>
{%endblock %}